.launch {
  height: 200px;
  width: 1000px;
  padding: 8px;
  display: flex;

  box-shadow: 1px 9px 1px;
  margin-left: 50px;
  margin-top: 50px;
}

.launch img {
  height: 200px;
  width: 200 x;
  justify-content: space-between;
}
.content {
  margin-left: 20px;
}

.content .info {
  display: flex;
}

.content p {
  font-size: 24px;
  display: -webkit-box;
  line-height: 30px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
